html {
  --primary-color: #292c34;
  --secondary-color: #09d4ac;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-header {
  width: 100%;
  background-color: #282c34;
  display: flex;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.books-container {
  max-width: 920px;
  display: flex;
  flex-wrap: wrap;
}

.book {
  margin-top: 1rem;
  padding: 2%;
  flex-grow: 1;
  flex-basis: 46%;

  display: flex;
  flex-direction: column;
}

.book-photo img {
  flex: 1;
  width: 100%;
  border-radius: 10px;

  transform: rotate(90deg);
}

.book-info p {
  margin: 0.75rem 0;
}

.book-title {
  color: var(--primary-color);
  font-size: 1.5rem;
}

.book-author {
  color: darkgray;
  font-size: 1rem;
}

@media (max-width: 480px) {
  .book {
    padding: 2% 4%;
    flex-grow: 1;
    flex-basis: 92%;
  }
}
