html {
  --primary-color: #292c34;
  --secondary-color: #09d4ac;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--secondary-color);
  min-height: 100vh;
}

.App-header {
  width: 100%;
  background: linear-gradient(to right, var(--primary-color) 0%, rgba(41, 44, 52, 0.75) 100%);
  display: flex;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.books-container {
  margin-top: 1rem;
  max-width: 920px;
  display: flex;
  flex-wrap: wrap;
}

.book {
  background: white;
  margin-top: 1rem;
  margin: 2%;
  flex-grow: 1;
  flex-basis: 46%;

  border-radius: 10px;
  box-shadow: -2px 2px 5px 0 var(--primary-color);
  overflow: hidden;

  display: flex;
  flex-direction: column;
}

.book-photo img {
  flex: 1;
  width: 100%;

  transform: rotate(90deg);
}

.book-info {
  margin: 0.5rem 1rem;
}

.book-info p {
  margin: 0.5rem 0;
}

.book-title {
  color: var(--primary-color);
  font-size: 1.5rem;
}

.book-author {
  color: darkgray;
  font-size: 1rem;
}

@media (max-width: 480px) {
  .book {
    margin: 2% 4%;
    flex-grow: 1;
    flex-basis: 92%;
  }
}
